img.icon {
    width: 5%;
  }
  div.navbar-collapse {
    padding-left: 35%;
  }
  .container {
    display: flex;
    margin-bottom: -16px;
    justify-content: space-between;
    align-items: center;
    padding-top: 77px;
  }

  .teks-intro {
    flex: 1;
    margin-right: 100px; /* Jarak antara teks dengan gambar */
  }

  .img-learn {
    flex: 1;
  }
  .custom-line {
    border: none;
    border-top: 80px solid blue; /* Warna, style, dan lebar garis dapat disesuaikan */
    width: 100%;
  }
  .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efek transisi untuk smooth transition */
    flex: 0 0 calc(33.33% - 1rem); /* Membagi ruang menjadi 3 bagian dengan jarak antar kartu */
    margin-bottom: 1rem;
  }

  .card:hover {
    transform: scale(1.05); /* Memperbesar kartu saat dihover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan kartu saat dihover */
  }

  .card-body {
    text-align: center; /* Mengatur teks ke tengah */
  }

  .card-body img {
    display: block; /* Memastikan gambar berada di tengah */
    margin: 0 auto; /* Mengatur margin secara otomatis untuk membuat gambar menjadi pusat */
  }

  .card-row-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .teks-sub {
    display: block; /* Mengatur elemen <p> menjadi block */
    text-align: center; /* Mengatur teks menjadi rata tengah */
    margin-top: 10px; /* Memberikan jarak atas antara h1 dan p */
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  footer {
    background-color: #111538;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-content {
    flex: 1;
  }
  
  .footer-content h3 {
    margin-bottom: 10px;
  }
  
  .footer-content p {
    margin: 0;
    line-height: 1.5;
  }
  .social-icon {
      color: white; /* Mengatur warna ikon menjadi putih */
      margin: 0 5px; /* Memberikan jarak kiri dan kanan sebesar 10px */
  }
  div.fix-position-about{
    padding-bottom: 150px;
    padding-left: 50px;
  }
  div.fix-position-company{
    padding-bottom: 150px;
    padding-left: 50px;
  }
  div.fix-position-contact{
    padding-bottom: 90px;
    padding-left: 50px;
  }